html, body {
    height: 100%;
    margin: 0;
    font-size: 16px; 
  }
  
  body {
    background: url('/imagens/download.jpg') no-repeat center center fixed;
    background-size: cover;
  }
  
  .navbar {
    background-color: rgba(128, 128, 128, 0.8) !important; 
  }
  
  .navbar-brand img {
    margin-right: 0.625rem; 
  }
  
  .navbar-light .navbar-nav .nav-link {
    color: #fff; 
  }
  
  .navbar-light .navbar-nav .nav-link:hover {
    color: #ccc; 
  }
  
  .custom-btn-outline {
    border-color: #CDEFF5;
    color: #CDEFF5;
  }
  
  .custom-btn-outline:hover {
    background-color: #CDEFF5;
    color: #000;
  }
  
  .custom-btn {
    background-color: #CDEFF5;
    color: #000;
  }
  
  .custom-btn:hover {
    background-color: #bcdfe0;
    color: #000;
  }
  
  .content {
    height: calc(100% - 4.375rem); /* Altura total menos a navbar (70px em rem) */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: white;
    padding: 1.25rem; /* 20px em rem */
  }
  
  .content h1 {
    font-size: 3rem; /* 48px em rem */
    margin-bottom: 1.25rem; /* 20px em rem */
  }
  
  .content p {
    font-size: 1.5rem; /* 24px em rem */
    margin-bottom: 1.875rem; /* 30px em rem */
  }
  
  .custom-btn-start {
    background-color: #CDEFF5;
    color: #000;
    font-size: 1.2rem; /* 20px em rem */
    padding: 0.625rem 1.25rem; /* 10px 20px em rem */
  }
  
  .custom-btn-start:hover {
    background-color: #bcdfe0;
    color: #000;
  }
  .footer {
    background-color: #000;
    padding: 1.25rem 0;
  }
  
  .footer ul {
    list-style-type: none; 
    padding: 0; 
  }
  
  .footer ul li {
    display: inline; 
    margin-right: 1rem; 
  }
  
  .footer ul li a {
    color: #fff; 
    text-decoration: none; 
  }
  
  .footer ul li a:hover {
    text-decoration: underline; 
  }
  